// Backgrounds & Text & Links & Borders

//------> Dark Color
$bg-color: var(--bg-color);
$assistant-color: var(--assistant-color);
$theme-color: var(--theme-color);   
$body-color: var(--font-color);
$heading-color: var(--heading-color);
$border-color: var(--border-color);
$smooth-color: var(--smooth-color);
$reverse-color: var(--reverse-color);
$reverse-heading-color: var(--reverse-heading-color);
$mod-color : var(--mod-color);

// brand colors
$brand-primary: var(--brand-primary);
$brand-secondary: var(--brand-secondary);

// fill colors
$fill-brown-grey: var(--fill-brown-grey);
$fill-olive-green: var(--fill-olive-green);
$fill-rust-red: var(--fill-rust-red);
$fill-aqua-green: var(--fill-aqua-green);
$fill-pacific-blue: var(--fill-pacific-blue);
$fill-cyan-green: var(--fill-cyan-green);
$fill-green-white: var(--fill-green-white);
$fill-metallic-silver: var(--fill-metallic-silver);
$fill-light-mustard: var(--fill-light-mustard);





